section{
    height: 100vh;
    display: flex;
    flex-direction: column;
}
.fav{
    align-self: flex-start;
}
.hate{
    text-align: center;
    justify-content: center;
}
.unknown{
    align-self: flex-end;
}
    
